//fonts
$primaryFont: 'Heebo', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;
// font weight
$subtitleW: 600;
$contentw: 400;
// breakpoints
$phoneBreakPoint: 480px;
$mobileFontSize: .9rem;
// colours
$itemBg: white;
$titleColour: #1d4f91;
$subtitleColour: #0076dc;
$contentColour: #585757e6;
$borderColour: #c1c2c3;