*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin flexToCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

.FAQ-title{
    @include flexToCenter();
}

.accordion-object{
    @include flexToCenter(column);
}