$primaryFont: 'Heebo', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;
$subtitleW: 600;
$contentw: 400;
$phoneBreakPoint: 480px;
$itemBg: white;
$titleColour: #1d4f91;
$subtitleColour: #0076dc;
$contentColour: #585757e6;
$borderColour: #c1c2c3;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $primaryFont;
}

body{
    background: #f3f6fa;
}

@mixin flexToCenter($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: left;
    
}

@mixin perfectMiddle{
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.FAQ-title{
    @include flexToCenter(none);
    color: $titleColour;
    margin: 3rem;
    
    
}

.accordion-object{
    @include flexToCenter(column);
    margin: 3rem;
     
}

.accordion-item{
    border: 2px solid $borderColour;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 0.5rem;
    background: $itemBg;
    padding: 1rem;
    align-items: center;
     
    h3{
        font-weight: $subtitleW;
        color: $subtitleColour;
        padding-right: .5rem;
        word-break: normal;
    }

    button{
        
        width: 100%;
        text-align: left;
        border: none;
        background: none;
        cursor: pointer;
        color: $subtitleColour;
    }

    span{
        
        float: right;
        color: $subtitleColour;
       
    }

    p{
        
        margin-top: 1rem ;
        padding: 0;
        padding-top: 1rem;
        border-top: 2px solid $borderColour;
        border-bottom: 0;
        color: #585757e6;
        font-weight: $contentw;
        
    }
}

@media (max-width: $phoneBreakPoint){
    .accordion-item{
        margin: 0;
        border: 0;
        border-top: 2px solid $borderColour;
        
    }

    .FAQ-title{
        justify-content: left;
    }
}

.accordion-content{
    font-family: $secondaryFont;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
}

.opened-accordion{
    span{
        i{
            &::before{
                content: '\f068';
            }
           
        }
    }
}




