@import './variables';
@import './mixins';

// document/ body
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $primaryFont;
}

body{
    background: #f3f6fa;
}


// title
.FAQ-title{
    font-size: 1.9rem;
    @include flexToCenter(none);
    color: $titleColour;
    margin: 3rem;
    
    
}

// accordion

.accordion-object{
    @include flexToCenter(column);
    margin: 3rem;
     
}

.accordion-item{
    border: 2px solid $borderColour;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 0.5rem;
    background: $itemBg;
    padding: 1rem;
    
     
    .question {
        font-size: .9rem;
        display: inline-flex;
        font-weight: $subtitleW;
        color: $subtitleColour;
        padding-right: 2.5rem;
        word-break: normal;
    }

    button{
        display: inline-flex;
        align-items: center;
        width: 100%;
        text-align: left;
        border: none;
        background: none;
        cursor: pointer;
        color: $subtitleColour;
    }

    .icon{
        display: inline;
        position: absolute;
        float: right;
        right: 4.1rem;
        color: $subtitleColour;
       
       
    }

    p{
        
        margin-top: 1rem ;
        padding: 0;
        padding-top: 1rem;
        border-top: 2px solid $borderColour;
        border-bottom: 0;
        color: $contentColour;
        font-weight: $contentw;
        font-size: 0.9rem;
        
    }
}

// mobile view

@media (max-width: $phoneBreakPoint){
    .accordion-item{
        margin: 0;
        border: 0;
        border-top: 2px solid $borderColour;
        border-radius: 0;
        
        
    }

    .accordion-object{
        border-bottom: 2px solid $borderColour;
        border-radius: 0;
        margin: 1rem 3rem;
    }

    .FAQ-title{
        padding: 1rem;
        margin: 1rem 3rem;
        font-size: 1.5rem;
        justify-content: left;
    }

    .question{
        
        font-size: $mobileFontSize;
    }

    .accordion-content{
        font-size: $mobileFontSize;
    }

    
}


// accordion content 

.accordion-content{
    font-family: $secondaryFont;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
}

.opened-accordion{
    span{
        i{
            &::before{
                content: '\f068';
            }
           
        }
    }
}




